@model MVCBookk.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FrontPage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FrontPage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @if (Model.AuthorId != null)
        {
            <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.AuthorId">@Html.DisplayFor(model => model.Author.FullName)</a>
        }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.YearPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.YearPublished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genres)
        </dt>
        <dd class="col-sm-10">
            @foreach (var genre in Model.Genres)
        {
            <a asp-controller="Actors" asp-action="Details" asp-route-id="@genre.GenreId">  @genre.Genre.GenreName </a>  <br />
        }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AverageRating)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    <dt>
        <a asp-action="Index">Cancel</a>
    </dt>
</div>
